@charset "UTF-8";

/*
PALETA DE CORES
VERDE: #49A09D
LILÃS: #5f2c82
*/
:root{
    --verde: #49A09D;
    --lilas: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body,html{
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 540px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#foto{
    display: block;
    background: url(../imagens/imgLog.jpg);
    background-size: cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-position: center center;
}
div#form{
     padding: 10px;   
}

div#form > h1{
    text-align: center;
    margin-bottom: 5px;
    }

div#form > p{
        text-align:justify;
    }
    
        
    section#login > div#formulario{
        padding: 10px;
        display: block;
    }
    form > input[type=submit]{
        margin-top: 5px;
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: var(--verde);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    form > input[type=submit]:hover{
        background-color: #316b69;
    }
    form >a.botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        padding-top: 5px;
        margin-top: 5px;
        background-color: lightblue;
        color: #49A09D;
        border: 1px solid #49A09D;
        border-radius: 5px;
        text-decoration: none;

    }
    form >a.botao > span{
        font-size: 0.8em;

    }
    form > a.botao:hover{
        background-color: #316b69;
    }
    form > div.campo{
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
    }
    div.campo > span{
        color: white;
        
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }
    div.campo > input{
        position: relative;
        background-color: #56b9b6;
        font-size: 1em;
        height: 100%;
        width: calc(100% - 37px);
        left: 37px;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translateY(-42px);
    }
    