@charset "UTF-8";

/*
PALETA DE CORES
VERDE: #49A09D
LILÃS: #5f2c82
*/
:root{
    --verde: #49A09D;
    --lilas: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body,html{
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}
section#login > div#foto{
    display: block;
    background: url(../imagens/imgLog.jpg);
    background-size: cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-position: center center;
}
div#form{
     padding: 10px;   
}

div#form > h1{
    text-align: center;
    }

div#form > p{
        text-align:justify;
    }
    
        
    section#login > div#formulario{
        padding: 10px;
        display: block;
    }